/*
  Style sheet is inspired by the look of the Nintendo 3DS UI. It was a massive part of my childhood personally
  Color Pallate inspired by Michigan State University
  Just has basic in-line blocks and a normal flow

  AI Disclosure
  Partial use of AI and external websites was used to learn about things not covered in the lecture videos for this portion.
    cssgradient.io was used to easily customized and preview the linear-gradients used throughout.
    
    
*/

@font-face {
  font-family: 'Playfair';
  src: url("fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
 
/* root ruleset to establish a color palatte for the website to follow */
:root {
  --green: #18453b;
  --brown: #6b4a2f;
  --white: #fdfdfb;
  --black: #1d1d1b;
  --font-main: "Playfair", Verdana, sans-serif;
}
 
/* body consists of a white-grey backdrop with a slight gradient */
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  font-size: 18px;
  color: var(--black);
  background: #ffffff;
  background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(230, 233, 225, 1) 100%);
}

header {
  padding: 36px 20px 20px;
  text-align: center;
  background: #2F6B5C;
  background: linear-gradient(180deg, rgba(47, 107, 92, 1) 0%, rgba(17, 53, 45, 1) 52%, rgba(21, 62, 53, 1) 100%);
  border-bottom: 10px solid var(--brown);
}

nav {
  text-align: center;
}

nav ul {
  list-style: none;  /*list-style removes bullet points found on ul */
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  border: 10px solid #d5d9cf;
  border-bottom: 10px solid var(--brown);
  border-radius: 10px
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

footer {
  padding: 36px 20px 20px;
  text-align: center;
  color: var(--white);
  background: #2F6B5C;
  background: linear-gradient(0deg, rgba(47, 107, 92, 1) 0%, rgba(17, 53, 45, 1) 52%, rgba(21, 62, 53, 1) 100%);
  border-top: 10px solid var(--brown);
}
